@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-family: 'Noto Sans', sans-serif;

  --exxpenses-main-bg-color: #0f0f0f;
  --exxpenses-second-bg-color: #171717;
  --exxpenses-main-color: #c7c9c8;
  --exxpenses-main-button-hover-bg-color: #24262b;
  --exxpenses-main-divider-bg: var(--exxpenses-main-color);
  --exxpenses-main-error-color: #A50104;
  --exxpenses-main-border-color: #444444;
  --exxpenses-main-error-color: #f8564e;

  --exxpenses-dark-green: #446a50;
  --exxpenses-light-green: #487958;

  color: var(--exxpenses-main-color);
}

html {
  background-color: var(--exxpenses-main-bg-color) !important;
  color: var(--exxpenses-main-color) !important;
}

.MuiAutocomplete-popper {
  background: #000
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--exxpenses-main-border-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a:hover {
  text-decoration: underline;
}

.standardButton {
  height: 34px;
  background: var(--exxpenses-dark-green);
  /* background: linear-gradient(to right, var(--exxpenses-dark-green), var(--exxpenses-light-green)); */
  color: var(--exxpenses-main-color);
  text-transform: none;
  padding: 6px;
}

.standardButton:hover {
  background: var(--exxpenses-light-green);
}