@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  line-height: 1.6;

  font-family: 'Roboto', sans-serif;

  --exxpenses-main-bg-color: #222222;
  --exxpenses-second-bg-color: #161616;
  --exxpenses-main-color: #c7c9c8;
  --exxpenses-unimportant-color: #949997;
  --exxpenses-main-button-hover-bg-color: #24262b;
  --exxpenses-main-divider-bg: var(--exxpenses-main-color);
  --exxpenses-main-border-color: #444444;
  --exxpenses-main-error-color: #df473f;
  --exxpenses-main-error-text-color: #ff3228;

  --exxpenses-dark-green: #446a50;
  --exxpenses-light-green: #487958;
  --exxpenses-lighter-green: #589c6f;

  --exxpenses-warning-color: #bbbb45;

  color: var(--exxpenses-main-color);
}

html {
  background-color: var(--exxpenses-main-bg-color) !important;
  color: var(--exxpenses-main-color) !important;
}

.MuiAutocomplete-popper {
  background: #000
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--exxpenses-main-border-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a:hover {
  text-decoration: underline;
}

.standardButton {
  height: 34px;
  background: var(--exxpenses-dark-green);
  /* background: linear-gradient(to right, var(--exxpenses-dark-green), var(--exxpenses-light-green)); */
  color: var(--exxpenses-main-color);
  text-transform: none;
  padding: 6px;
}

.standardButton:hover {
  background: var(--exxpenses-light-green);
}

.emptyButton {
  width: fit-content;
  display: flex;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 6px;
  border-radius: 6px;
  /* background: linear-gradient(to right, var(--exxpenses-dark-green), var(--exxpenses-light-green)); */
  color: var(--exxpenses-light-green);
  text-transform: none;
  font-weight: bold;
  height: 34px;
}

.emptyButton:hover {
  background: var(--exxpenses-main-button-hover-bg-color);
  color: var(--exxpenses-light-green);
}

.fullButton {
  display: flex;
  width: 100px;
  padding: 4px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  margin-bottom: 6px;
  background: var(--exxpenses-dark-green);
  /* background: linear-gradient(to right, var(--exxpenses-dark-green), var(--exxpenses-light-green)); */
  color: white;
  text-transform: none;
  height: 34px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.fullButton:hover {
  background: var(--exxpenses-light-green);
}

.fullButton:active {
  transform: translateY(2px);
  box-shadow: none;
}