.loginButton {
  display: flex;
  width: 100px;
  padding: 4px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  margin-bottom: 6px;
  background: var(--exxpenses-dark-green);
  /* background: linear-gradient(to right, var(--exxpenses-dark-green), var(--exxpenses-light-green)); */
  color: white;
  text-transform: none;
  height: 34px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.loginButton:hover {
  background: var(--exxpenses-light-green);
}

.loginButton:active {
  transform: translateY(2px);
  box-shadow: none;
}

.createAccountButton {
  width: fit-content;
  display: flex;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 6px;
  border-radius: 6px;
  /* background: linear-gradient(to right, var(--exxpenses-dark-green), var(--exxpenses-light-green)); */
  color: var(--exxpenses-light-green);
  text-transform: none;
  font-weight: bold;
  height: 34px;
}

.createAccountButton:hover {
  background: var(--exxpenses-second-bg-color);
  color: var(--exxpenses-light-green);
}

.loginForgot {
  text-decoration: none;
  color: #5f5fe0 !important;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 8px;
}

.loginForgot:hover {
  text-decoration: none;
}