.loginButton {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 6px;
  background: var(--exxpenses-dark-green);
  /* background: linear-gradient(to right, var(--exxpenses-dark-green), var(--exxpenses-light-green)); */
  color: var(--exxpenses-main-color);
  text-transform: none;
  height: 40px;
}

.loginButton:hover {
  background: var(--exxpenses-light-green);
}

.loginForgot {
  text-decoration: none;
  color: #5f5fe0;
}

.loginForgot:hover {
  text-decoration: underline;
  color: #7070db;
}