.loginButton {
    width: 90px;
    padding: 4px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 6px;
    background: var(--exxpenses-dark-green);
    /* background: linear-gradient(to right, var(--exxpenses-dark-green), var(--exxpenses-light-green)); */
    color: var(--exxpenses-main-color);
    text-transform: none;
    height: 34px;
}

.loginButton:hover {
    background: var(--exxpenses-light-green);
}

.createAccountButton {
    width: fit-content;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 10px;
    margin-bottom: 6px;
    /* background: linear-gradient(to right, var(--exxpenses-dark-green), var(--exxpenses-light-green)); */
    color: var(--exxpenses-dark-green);
    text-transform: none;
    height: 34px;
}

.createAccountButton:hover {
    background: var(--exxpenses-second-bg-color);
    color: var(--exxpenses-light-green);
}

.loginForgot {
    text-decoration: none;
    color: #5f5fe0;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 8px;
}

.loginForgot:hover {
    text-decoration: none;
}