.tabHeaderButton {
    /* background: linear-gradient(to right, var(--exxpenses-dark-green), var(--exxpenses-light-green)); */
    color: var(--exxpenses-main-color);
    text-transform: none;
    height: 34px;
    border-radius: 0;
    transform: none;
    transition: none;
    border-radius: 10px;
}

.tabHeaderButton:hover {}

.tabHeaderClose {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    border-radius: 25px;
    width: 20px;
    height: 20px;
    margin-left: 6px;
}

.tabHeaderClose:hover {
    background: #666666;
}

.categoryHeaderButtonContainer {
    height: 34px;
    display: flex;
    align-items: center;
    border-radius: 10px;

}

.categoryHeaderButtonContainer:hover {}